<nav class="bg-primary text-white text-center py-5 mb-4">
        <div class="container">
            <h1>Bienvenue au Pizza and Chill</h1>
            <p>Profitez de notre cuisine chez vous en commandant en ligne</p>
        </div>
    </nav>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img src="/img/margherita.jpeg" class="card-img-top" alt="Menu">
                    <div class="card-body">
                        <h5 class="card-title">Decouvrez notre menu</h5>
                        <p class="card-text">Choisissez parmi une variete de plats delicieux.</p>
                        <a href="/menu" class="btn btn-primary">Voir le menu</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img src="/img/lasagne.jpeg" class="card-img-top" alt="Commande">
                    <div class="card-body">
                        <h5 class="card-title">Votre panier</h5>
                        <p class="card-text">Revisez et confirmez vos choix avant de commander.</p>
                        <a href="/order" class="btn btn-primary">Voir le panier</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img src="/img/burger.jpeg" class="card-img-top" alt="Suivi">
                    <div class="card-body">
                        <h5 class="card-title">Suivi des commandes</h5>
                        <p class="card-text">Suivez l'etat de votre commande en temps reel.</p>
                        <a href="/orders" class="btn btn-primary">Suivre ma commande</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
