<div class="co">
    <form id="formConnexion">
            <h1>Connexion</h1>
            <hr>
            <label >Email</label>
            <input type="email" id="emailConnexion">
            <label >Mot de passe</label>
            <input type="password" id="motDePasseConnexion">
            <input type="submit" value="Connexion">
            <p>Vous n'avez pas un compte? <a href="/inscription">S'inscrire</a></p>

            <div class="erreur" id="formErreurCo"></div>
    </form>
</div>