<div class="co">
    <form id="formInscription">
            <h1>Inscription</h1>
            <hr>
            <label >Nom</label>
            <input type="text" id="nomUtilisateur">
            <label >Adresse</label>
            <input type="text">
            <label >Email</label>
            <input type="email" id="formCourriel">
            <label >Mot de passe</label>
            <input type="password" id="motDePasse">
            <input type="submit" value="Inscription">
            <p>Vous avez deja un compte? <a href="/connexion">Se connecter</a></p>

            <div class="erreur" id="formErreur"></div>
    </form>
</div>